<div class="row">
  <!-- Video information -->
  <div *ngIf="channel" class="margin-content channel">
    <img [src]="getAvatarUrl()" alt="Avatar" />
    <div class="channel-info">
      <div class="channel-info-first-row">
        <div>
          <div class="channel-info-name">
            {{ channel.displayName }}
          </div>

          <div class="video-info-date">
            Created {{ channel.createdAt | myFromNow }}
          </div>

          <div class="video-info-following">
            Following {{ channel.followingCount }} people.
          </div>

          <div class="video-info-follower">
            Followed by {{ channel.followersCount }} people.
          </div>

        </div>

        <div class="channel-actions-rates">
          <div class="channel-actions">

          </div>

        </div>
      </div>

      <div class="channel-info-description">
        <div class="channel-info-description-html" [innerHTML]="descriptionHTML"></div>

      </div>

    </div>

  </div>

  <my-video-channel-videos *ngIf="channel" [channelId]="channel.id"></my-video-channel-videos>
</div>
